$primaryColor: #FFE600;
$accentColor: #3483FA;
$buttonColor: #2968c8;
$darkGray: #333333;
$lightGray: #EEEEEE;
$plainWhite: #ffffff;
$lightGreen: #00a650;
$highlightedGreen: #33d65f;

$maxWidth: 1200px;